<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Aval</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Aval</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- SELECT2 EXAMPLE -->
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Nuevo Aval</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label>Documento</label>
            <input type="text" class="form-control" id="txtDocumentoAval" name="txtDocumentoAval" placeholder="Ingrese documento" autocomplete="nope" maxlength="20">
          </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
              <label>Nombres y Apellidos</label>
              <input type="text" class="form-control" id="txtNombresAval" name="txtNombresAval" placeholder="Ingrese nombres y apellidos" autocomplete="nope" maxlength="200">
            </div>
          </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Telefono</label>
            <input type="text" class="form-control" id="txtTelefonoAval" name="txtTelefonoAval" placeholder="Ingrese teléfono" autocomplete="nope" maxlength="10">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="text" class="form-control" id="txtCorreoAval" name="txtCorreoAval" placeholder="Ingrese Correo" autocomplete="nope" maxlength="50">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Dirección</label>
            <input type="text" class="form-control" id="txtDireccionAval" name="txtDireccionAval" placeholder="Ingrese Direccion" autocomplete="nope" maxlength="200">
          </div>
        </div>

      </div>

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-default" routerLink="/pages/listaraval" >Cancelar</button>
      <button type="button" class="btn btn-info float-right" (click)="onClickGrabarAval()">Guardar</button>
    </div>
  </div>
  <!-- /.card -->