 <!-- Main content -->
 <section class="content">
    <div class="">
      <br>
      <br>
      <h2 class="headline text-warning" style="font-size: 50px; font-weight: bold; color: #3B5376 !important; text-align: center;"> Bienvenido</h2>
      <!-- /.error-content -->
    </div>
    <div style="text-align: center; align-items: center;">
      <br>
      <br>
      <img src="./assets/imagenes/pay.png" style="width: 400px;" >
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->