<div class="ClassLogon">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1"><b>Créditos</b> al Toque</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Ingresa tus datos para inicia sesión</p>
  
        <form>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Usuario (EHUARCAYA)" id="txtUsuario">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Contraseña" id="txtPassword">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button type="button" class="btn btn-primary btn-block" (click)="onclickAutenticacionUsuario()">Ingresar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

  <!-- /.login-box -->